---
import Layout from "../../layouts/Layout.astro";
import { allPlaylists, songs } from "../../lib/data";
import PlayListItemCard from "../../components/PlayListItemCard.astro";
import MusicsTable from "@/components/MusicsTable.astro";
import { CardPlayButton } from "@/components/CardPlayButton";
import { PlaylistPlayButton } from "@/components/PlaylistPlayButton";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playListSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
---

<Layout title="Spotify Clone">
  <div
    id="playlist-container"
    class="relative flex flex-col h-full transition-all duration-1000 bg-zinc-900 overflow-x-hidden
     scrollbar-hide"
    transition:name=`playlist ${id} box`
  >
    <header class="flex flex-row gap-8 px-6 mt-12">
      <picture class="aspect-square w-52 h-52 flex-none">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full shadow-lg"
          transition:name=`playlist ${playlist?.id} image`
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end">Playlist</h2>
        <div>
          <h1 class="text-5xl font-bold block text-white">
            {playlist?.title}
            <span transition:name=`playlist ${playlist?.id} title`></span>
          </h1>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${playlist?.id} artists`>
              <span>{playlist?.artists.join(", ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playListSongs.length} canciones</span>,
              3 h aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>

    <div class="relative pl-6 pt-6">
      <PlaylistPlayButton client:visible id={id} />
    </div>

    <div
      class=`absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context`
      style=`--context-color:${playlist?.color.accent}`
    >
      <img
        src={playlist?.cover}
        alt={playlist?.title}
        class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
      />
    </div>

    <MusicsTable songs={playListSongs} />
  </div>
</Layout>

<style>
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
